.bold {
    font-weight: bold;
}

.inputContainer {
    height: 100%;
}

.weatherInput {
    padding: 15px 40px 15px 40px;
    border: 3px solid var(--tertiary-color);
    border-radius: 30px;
    font-size: 18px;
}

.weatherInput:focus {
    outline: none !important;
    border: 3px solid var(--secondary-color);
}

.sectionTitle{
    font-weight: bold;
    font-size: 20px;
    margin: 30px 0px 10px 0px;
}

.forecastButton {
    padding: 15px 40px 15px 40px;
    background-color: var(--tertiary-color);
    border: 3px solid var(--tertiary-color);
    color: white;
    font-weight: bold;
    border-radius: 30px;
    font-size: 18px;
}

.forecastButton:hover {
    padding: 15px 40px 15px 40px;
    background-color: var(--background-color);
    color: var(--secondary-color);
    border: 3px solid var(--secondary-color);

}

.form {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.errorMessage {
    color: red;
    font-weight: bold;
    margin: 10px 0px 0px 42px;
}

.currentContainer {
    display: flex;
    justify-content: space-between;
}

.lastUpdated {
    font-size: 12px;
    max-width: 158px;
}

.currentTemp {
    font-weight: bold;
    font-size: 100px;
    display: flex;
}

.currentCelsius {
    font-size: 24px;
}

.currentRightCol {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.forecastContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 5px;
}

.forecastDate {
    font-size: 18px;
}

.forecastLeftCol p {
    font-size: 14px;
}

.forecastImage {
    width: 125px;
}

@media screen and (max-width: 428px) {
    .weatherInput {
        padding: 0 10px 0 10px;
        font-size: 16px;
    }
    .form {
        gap: 5px;
    }
    .currentContainer {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
    }
    .forecastDate {
        font-size: 16px;
    }
    .sectionTitle {
        text-align: center;
        font-size: 24px;
    }
    .currentLeftCol {
        display: flex;
        flex-direction: column-reverse;
    }
    .forecastContainer {
        flex-direction: column-reverse;
        max-width: 200px;
    }
    .forecastDate {
        max-width: 200px;
    }
    .forecastContainerOuter { 
        display: flex;
        justify-content: center;
    }
    .forecastImage {
        width: 100%;
    }
}