@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #0F8B8D;
  --secondary-color: #143642;
  --tertiary-color: #0D5C63;
  --background-color: white;
  --font-color: #222324;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.main {
  min-height: 100vh;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}