@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #0F8B8D;
  --secondary-color: #143642;
  --tertiary-color: #BBDEF0;
  --background-color: #F7FFF6;
  --font-color: #222324;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
